# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

inference/
inference_results/
output/
train_data/
log/
*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea

*.log
.clang-format
.clang_format.hook

build/
dist/
paddleocr.egg-info/
/deploy/android_demo/app/OpenCV/
/deploy/android_demo/app/PaddleLite/
/deploy/android_demo/app/.cxx/
/deploy/android_demo/app/cache/
test_tipc/web/models/
test_tipc/web/node_modules/

train_data/
train_data1/
train_data_new1/det_bookspine_text/check_res/
train_data_new1/det_bookspine_text/new_label_samples/*
!train_data_new1/det_bookspine_text/new_label_samples/n0101001-04-01_11.jpg
!train_data_new1/det_bookspine_text/new_label_samples/n0101001-04-01_11.json

!train_data_new1/det_bookspine_text/new_label_samples/n0101001-04-01_12.jpg
!train_data_new1/det_bookspine_text/new_label_samples/n0101001-04-01_12.json

!train_data_new1/det_bookspine_text/new_label_samples/n0101001-04-01_13.jpg
!train_data_new1/det_bookspine_text/new_label_samples/n0101001-04-01_13.json

!train_data_new1/det_bookspine_text/new_label_samples/n0101001-04-01_14.jpg
!train_data_new1/det_bookspine_text/new_label_samples/n0101001-04-01_14.json

train_data_new1/det_bookspine_text/test_imgs/
train_data_new1/det_bookspine_text/train/
train_data_new1/det_bookspine_text/val/



*.onnx
